.banner-media img {
    display: block;
    margin: auto;
}
img {
    border: 0;
}
img {
    border: 0;
}
* {
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
img[Attributes ] {
    width: 1200px;
    aspect-ratio: auto 1200 / 44;
    height: 44px;
}
user agent stylesheet
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
a {
    text-decoration: none;
    transition: .2s;
    color: #288ad6;
}
a {
    text-decoration: none;
    transition: .2s;
    color: #288ad6;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
body, input, button, option, textarea, label, select, legend, h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font: 14px / 18px Arial, Helvetica, sans-serif;
    color: #333;
    outline: none;
}
a {
    font: 14px / 18px Arial, Helvetica, sans-serif;
    color: #333;
    outline: none;
}
body, input, button, option, textarea, label, select, legend, h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font: 14px / 18px Arial, Helvetica, sans-serif;
    color: #333;
    outline: none;
}
:root {
    --product-price-color: #e83a45;
}